@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-directors-crimson: #7A1A21;
  --color-olive-umber: #4A4036;
  --color-textured-vellum: #F6F2EC;
  --color-golden-ocher: #D68C3A;
  --color-espresso-black: #241E1C;
  --color-muted-sage: #8A9386;
  --color-antique-brass: #B5875E;
  --color-terracotta-sand: #CF9F82;

  --font-serif: "Libre Baskerville", serif;
  --font-sans: "Lora", serif;
}

@layer base {
  body {
    @apply bg-textured-vellum text-espresso-black font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif font-medium;
  }
}
